@model IEnumerable<Empregare.Models.Usuario> 



@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-action="Criar">Criar novo usuário</a>
                <a asp-action="Index" asp-controller="Vagas">Ver Vagas</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Senha)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Senha)
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@item.UsuarioId">Editar</a> |
                                <a asp-action="Detalhes" asp-route-id="@item.UsuarioId">Detalhes</a> |
                                <a asp-action="Deletar" asp-route-id="@item.UsuarioId">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
    </div>
</div>
   